header{
    background-color: burlywood;
}

nav ul li{
    list-style: none;    
    display: inline-block;
    margin-left: 50px;
}

nav ul li a{
    text-decoration: none;
    color: beige;
}
.box{
    background-color: blanchedalmond;
    height: 200px;
    width: 300px;
}
.responsivebox{
    background-color: rgb(255, 151, 151);
    height: 50%;
    width: 50%;
}
.paddedtext{
    background-color: rgb(21, 136, 42);
    padding: 20px;
}

.custompadding{
    background-color: rgb(125, 151, 255);
    padding: 10px 20px 10px 20px;
}
.borderbox{
    border: 2px;
    border-style: solid;
    border-color: black;
    background-color: lightsalmon;
}
.roundedborder{
    border: 3px;
    border-style: dotted;
    border-color: red;
    border-radius: 15px;
    background-color: antiquewhite;
}
.margintext{
    margin: 30px;
    background-color: slateblue;
}
.custommargin{
    margin: 20px 40px 20px 40px;
    background-color: lightseagreen;
}
.inlineelement{
    display: inline;
    background-color: khaki;
}
.blockelement{
    display: block;
    background-color: yellowgreen;
}
.inlineblockelement{
    display: inline-block;
    background-color: gray;
}
.hiddenelement{
    display: none;
}
.visbileelement{
    visibility: visible;
}
.invibileelement{
    visibility: hidden;
}
.transparentbox{
    background-color: rgba(0, 0, 255, .5);
}